@font-face {
  font-family: "iconfont"; /* Project id 4579877 */
  src: url('iconfont.woff2?t=1718000618859') format('woff2'),
       url('iconfont.woff?t=1718000618859') format('woff'),
       url('iconfont.ttf?t=1718000618859') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 32px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-x:before {
  content: "\e8e3";
}

.icon-x1:before {
  content: "\e660";
}

